---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Join our newsletter">
  <main>
    <img src="favicon.svg" alt="Newslatter logo" />
    <h1>Join our newsletter</h1>
    <p>
      Keep up with our latest collections, exclusive deals, and special offers!<br
      />
      We introduce a new collection every week, so stay tuned to snag the hottest
      items just for you.
    </p>
    <form action="">
      <input type="email" placeholder="Enter your email address" required />
      <button>Subscribe now</button>
      <span>Your email is 100% confidential and won't send you any spam.</span>
    </form>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 17rem;
  }
  form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1.5rem;
    gap: 1.5rem;
    box-shadow:
      rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 10px;
    width: 74%;
  }
  img {
    padding: 1rem;
  }
  @media (max-width: 1024px) {
    main {
      padding: 9rem;
    }
  }
  @media (max-width: 640px) {
    main {
      padding: 1rem;
    }
    form {
      width: 85%;
    }
  }
</style>
